<ion-view view-title="Ambrosia">
        <ion-content>
        <div class="row">
          <div class="col col-50">
            <a href="#/app/playlists" class="noline">
            <div class="list card text-center" href="#/app/playlists">
              <i class="icon ion-android-star iconsize"></i>
              <h2>Top Recipes</h2>
            </div>
              </a>
          </div>
          <div class="col col-50">
               <a href="#/app/search" class="noline">
            <div class="list card text-center">
              <i class="icon ion-happy iconsize"></i>
              <h2>Recommended</h2>          
            </div></a>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
              <a href="#/app/browse" class="noline">
            <div class="list card text-center">
              <i class="icon ion-android-favorite iconsize"></i>
              <h2>Favorites</h2>  
            </div></a>
          </div>
          <div class="col col-50">
            <div class="list card text-center">
            <a href="#/app/profile" class="noline">
              <i class="icon ion-person iconsize"></i>
              <h2>Profile</h2>
            </a>
            </div>
          </div>
        </div>
      </ion-content>
</ion-view>